<footer>
    <p class="footer-quote">"Leave the road, take the trails."</p>

  <p>&copy; 2025 Campingsthan. All rights reserved.</p>

  <div class="footer-links">
    <a href="index.html">Home</a>
    <a href="contact.html">Contact</a>
    <a href="faq.html">FAQs</a>
  </div>

  <div class="footer-socials">
    <a href="https://wa.me/917558640623" target="_blank">
      <img src="images/whatsapp-icon.png" alt="WhatsApp" />
    </a>
    <a href="https://instagram.com/campingsthan" target="_blank">
      <img src="images/instagram-icon.png" alt="Instagram" />
    </a>
  </div>
</footer>
